body {
	margin-top: 2em;
	margin-left: 10em;
}
ul {
	width: 40em;
}
.adrien {
	height: 33em;
	display: inline-block;
	float:right;
	margin-right: 10em;
}
.chrisPic {
	 height: 33em;
	 display: inline-block;
	 float:right;
	 margin-right: 10em;
 }